<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.tango.dao.StudentDao">
	<!-- 插入数据 -->
	<insert id="insert" parameterType="com.tango.entity.Student">
		INSERT INTO `da_student`
		(`stu_code`,
		`stu_name`,
		`sex`,
		`birth_date`,
		`tellphone`,
		`address`,
		`class_id`
		)
		VALUES
		(#{stuCode},
		#{stuName},
		#{sex},
		#{birthDate},
		#{tellphone},
		#{address},
		#{classId}
		);
	</insert>

	<!-- 根据stuId查询数据 -->
	<select id="selectById" parameterType="int"
		resultType="com.tango.entity.Student">
		SELECT `stu_id`,
		`stu_code`,
		`stu_name`,
		`sex`,
		`birth_date`,
		`tellphone`,
		`address`,
		`class_id`
		FROM
		`da_student` WHERE
		`stu_id`=#{stuId};
	</select>

	<!-- 查询student所有数据 -->
	<select id="selectList" resultType="com.tango.entity.Student">
		SELECT `stu_id`,
		`stu_code`,
		`stu_name`,
		`sex`,
		`birth_date`,
		`tellphone`,
		`address`,
		`class_id`
		FROM
		`da_student`
	</select>

	<!-- 根据ID删除数据 -->
	<delete id="deleteById">
		DELETE FROM `da_student` WHERE stu_id = #{stuId}
	</delete>

	<!-- 根据ID更新数据 -->
	<update id="updateById" parameterType="com.tango.entity.Student">
		UPDATE `da_student`
		SET
		`stu_id` = #{stuId} ,
		`stu_code` = #{stuCode} ,
		`stu_name` =#{stuName} ,
		`sex` = #{sex},
		`birth_date` = #{birthDate} ,
		`tellphone` =#{tellphone},
		`address` = #{address} ,
		`class_id` = #{classId}
		WHERE
		`StuId` = #{stuId};
	</update>
</mapper>